[client]
user = hosted
password = secret
host = 127.0.0.1
port = 3306
default-character-set = utf8

[mysql]
user = hosted
password = secret
host = 127.0.0.1
port = 3306
default-character-set = utf8
local-infile = 1
auto-rehash
sigint-ignore
reconnect
pager = grcat ~/.grcat

[mysqld]
character-set-server = utf8
collation-server = utf8_general_ci
init-connect = 'SET NAMES utf8'

[mysqldump]
user = hosted
password = secret
host = 127.0.0.1
port = 3306
